---
import { type CollectionEntry } from 'astro:content';
import PostCard from './PostCard.astro';
type Props = {
  posts: CollectionEntry<'blog'>[];
};

const { posts } = Astro.props;
---

<div
  class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-y-10 gap-x-0 sm:gap-x-10 max-w-screen-2xl mx-auto px-4 pb-16 sm:px-8'
>
  {(posts ?? []).map((post) => <PostCard post={post} />)}
</div>
