---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import StarryBackground from '../components/StarryBackground.astro';
import '../styles/global.css';
---

<html lang='en'>
  <head>
    <BaseHead />
    <script is:inline>
      // Ensure dark mode is applied immediately to prevent flashing
      const savedTheme =
        localStorage.getItem('theme') ||
        (window.matchMedia('(prefers-color-scheme: dark)').matches
          ? 'dark'
          : 'light');

      if (savedTheme === 'dark') {
        document.documentElement.classList.add('dark');
      } else {
        document.documentElement.classList.remove('dark');
      }
    </script>
  </head>
  <body class='m-0 overflow-y-auto relative dark:bg-[#171717]'>
    <div class='min-h-screen flex flex-col'>
      <Header />
      <main class='flex-grow mt-4'>
        <slot />
      </main>
      <Footer />
    </div>
    <StarryBackground />
  </body>
</html>
