---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import StarryBackground from '../components/StarryBackground.astro';
import '../styles/global.css';
---

<html lang='en'>
  <head>
    <BaseHead />
  </head>
  <body class='m-0 overflow-y-auto relative dark:bg-[#171717]'>
    <div class='min-h-screen flex flex-col'>
      <Header />
      <main class='flex-grow mt-4'>
        <slot />
      </main>
      <Footer />
    </div>
    <div class='hidden dark:block'>
      <StarryBackground />
    </div>
  </body>
</html>
